/**
 * This file was generated automatically by Supernova.io and should not be changed manually.
 * To modify the format or content of this file, please contact your design system team. 
 */

.theme-dark-d38a {
  --colorforegroundneutralfaded: #9da8bb;
  --colorforegroundplaceholder: #7f8694;
  --colorbackgroundneutralhighlighted: #d0e2ff14;
  --colorbackgroundpagefaded: #09122a;
  --colorbackgroundcritical: #e22c2c;
  --colorbackgroundpositive: #118850;
  --colorbackgroundblur: #fffffff2;
  --colorbackgroundblurneutral: #f4f5f7f2;
  --colorbackgroundblurneutralhighlighted: #ecedf0f2;
  --colorborderneutralfaded: #22273a;
  --colorbordercriticalfaded: #fbd5d8;
  --colorborderpositivefaded: #cdedd5;
  --colorborderupgradefaded: #e3dbfa;
  --colorborderdisabled: #dfe2ea;
  --colorborderfocus: #4589ff;
  --colordecorativecyanforeground: #0e7490;
  --colordecorativecyanbackground: #d5fbfe;
  --colordecorativecyanborder: #b6e9ec;
  --colordecorativefuchsiaforeground: #b725cb;
  --colordecorativefuchsiabackground: #fcf0ff;
  --colordecorativefuchsiaborder: #f3d6f9;
  --colordecorativegreenborder: #c9e6da;
  --colordecorativegreyforeground: #4e536a;
  --colordecorativegreybackground: #edeff3;
  --colordecorativegreyborder: #e1e4eb;
  --colordecorativelightgreyforeground: #68718d;
  --colordecorativelightgreybackground: #f6f7f9;
  --colordecorativelightgreyborder: #e3e4e9;
  --colordecorativeorangeforeground: #c2410c;
  --colordecorativeorangebackground: #fff2e1;
  --colordecorativeorangeborder: #f9dbaf;
  --colordecorativepinkforeground: #d12372;
  --colordecorativepinkbackground: #fdf0f7;
  --colordecorativepinkborder: #fad6ea;
  --colordecorativepurpleborder: #e4dbfa;
  --colordecorativeredborder: #fcd7da;
  --colordecorativetealforeground: #107a71;
  --colordecorativetealbackground: #e2fff8;
  --colordecorativetealborder: #cae5df;
  --colordecorativeyellowforeground: #a16207;
  --colordecorativeyellowbackground: #fffde7;
  --colordecorativeyellowborder: #efe991;
  --colorprimaryprimary200: #edf5ff;
  --colorprimaryprimary400: #d0e2ff;
  --colorprimaryprimary500: #8cb4ff;
  --colorprimaryprimary600: #0f62fe;
  --colorprimaryprimary700: #004ee1;
  --colorprimaryprimary800: #104fc6;
  --colorredred100: #fef1f2;
  --colorredred600: #cb101d;
  --colorwhite: #ffffff;
  --colorneutralneutral100opaque: #141a2b05;
  --colorneutralneutral200opaque: #182d660a;
  --colorneutralneutral400: #606981;
  --colorneutralneutral500: #c7cddb;
  --colorneutralneutral900: #14171f;
  --colorgreengreen100: #ebfef6;
  --colorgreengreen600: #05751f;
  --colorpurplepurple100: #f5f2fd;
  --colorpurplepurple600: #874ce6;
  --colorpurplepurple700: #6a2bbf;
  --colororangeorange100: #fef8eb;
  --colororangeorange200: #fbe5c5;
  --colororangeorange500: #cc4d00;
  --colororangeorange600: #b53c0a;
  --colorpalettegreengreen1100: #0e2a21;
  --colorpalettegreengreen1000: #1c4130;
  --colorpalettegreengreen900: #2d6944;
  --colorpalettegreengreen800: #3c884d;
  --colorpalettegreengreen700: #4ca45a;
  --colorpalettegreengreen600: #5ab261;
  --colorpalettegreengreen500: #78c767;
  --colorpalettegreengreen400: #8fda75;
  --colorpalettegreengreen300: #a9e297;
  --colorpalettegreengreen200: #ccf0c2;
  --colorpalettegreengreen100: #ddf3d9;
  --colorpalettegreengreen0: #eef9ec;
  --colorpaletteblueblue1100: #00213f;
  --colorpaletteblueblue1000: #18395d;
  --colorpaletteblueblue900: #245685;
  /* This is our new main color :) */
  --colorpaletteblueblue800: #306ca5;
  --colorpaletteblueblue700: #3a79bd;
  --colorpaletteblueblue600: #4587cd;
  --colorpaletteblueblue500: #5196dd;
  --colorpaletteblueblue400: #6aacef;
  --colorpaletteblueblue300: #aad2f4;
  --colorpaletteblueblue200: #cde3f7;
  --colorpaletteblueblue100: #e0f1fe;
  --colorpaletteblueblue0: #ecf8fe;
  /* Darkest aqua there is */
  --colorpaletteaquaaqua1100: #0b2737;
  /* Slightly less aquatic, still deep as an ocean */
  --colorpaletteaquaaqua1000: #193c4d;
  --colorpaletteaquaaqua900: #265d71;
  --colorpaletteaquaaqua800: #316c82;
  --colorpaletteaquaaqua700: #3a8396;
  --colorpaletteaquaaqua600: #4295ab;
  --colorpaletteaquaaqua500: #54b5cb;
  --colorpaletteaquaaqua400: #6ad3df;
  --colorpaletteaquaaqua300: #91e2e1;
  --colorpaletteaquaaqua200: #b5f0f1;
  --colorpaletteaquaaqua100: #d0f7f8;
  --colorpaletteaquaaqua0: #e0fbfb;
  --colorpalettepurplepurple1100: #1d1e36;
  --colorpalettepurplepurple1000: #2b2667;
  --colorpalettepurplepurple900: #453e96;
  --colorpalettepurplepurple800: #5a52b4;
  --colorpalettepurplepurple700: #6b62cc;
  --colorpalettepurplepurple600: #7d73e2;
  --colorpalettepurplepurple500: #8d84ed;
  --colorpalettepurplepurple400: #9e95ec;
  --colorpalettepurplepurple300: #c0c2f3;
  --colorpalettepurplepurple200: #d8d8f6;
  --colorpalettepurplepurple100: #eaeaf8;
  --colorpalettepurplepurple0: #f2f2f8;
  --colorpaletteneutralneutral1100: #040404;
  --colorpaletteneutralneutral1000: #182020;
  --colorpaletteneutralneutral900: #293333;
  --colorpaletteneutralneutral800: #384141;
  --colorpaletteneutralneutral700: #545e5f;
  --colorpaletteneutralneutral600: #70797a;
  --colorpaletteneutralneutral500: #939a9b;
  --colorpaletteneutralneutral400: #b1b6b7;
  --colorpaletteneutralneutral300: #c9cccc;
  --colorpaletteneutralneutral200: #dfe1e1;
  --colorpaletteneutralneutral100: #f3f4f4;
  --colorpaletteneutralneutral0: #ffffff;
  --colorpalettetealteal1100: #0b2427;
  --colorpalettetealteal1000: #1b3e3e;
  --colorpalettetealteal900: #2a6461;
  --colorpalettetealteal800: #357a7b;
  --colorpalettetealteal700: #42948e;
  --colorpalettetealteal600: #4aa69c;
  --colorpalettetealteal500: #58c1b2;
  --colorpalettetealteal400: #6addc6;
  --colorpalettetealteal300: #97e7d5;
  --colorpalettetealteal200: #c0f0e6;
  --colorpalettetealteal100: #d5f6ef;
  --colorpalettetealteal0: #e9f8f5;
  --colorpalettepinkpink1100: #281821;
  --colorpalettepinkpink1000: #4f1930;
  --colorpalettepinkpink900: #872647;
  --colorpalettepinkpink800: #a43b5b;
  --colorpalettepinkpink700: #be4466;
  --colorpalettepinkpink600: #cf517c;
  --colorpalettepinkpink500: #de638b;
  --colorpalettepinkpink400: #ee7fad;
  --colorpalettepinkpink300: #f19bc0;
  --colorpalettepinkpink200: #f4b8d4;
  --colorpalettepinkpink100: #f7dcea;
  --colorpalettepinkpink0: #fbeaf2;
  --colorpaletteredred1100: #281212;
  --colorpaletteredred1000: #641c18;
  --colorpaletteredred900: #8d2d28;
  --colorpaletteredred800: #b6403b;
  --colorpaletteredred700: #ca4b45;
  --colorpaletteredred600: #dc584a;
  --colorpaletteredred500: #e56a5b;
  --colorpaletteredred400: #ef8674;
  --colorpaletteredred300: #f1a193;
  --colorpaletteredred200: #f4bbb3;
  --colorpaletteredred100: #f8d7d3;
  --colorpaletteredred0: #fbebe9;
  --colorpaletteorangeorange1100: #2a140f;
  --colorpaletteorangeorange1000: #581d09;
  --colorpaletteorangeorange900: #8a341a;
  --colorpaletteorangeorange800: #bf5c29;
  --colorpaletteorangeorange700: #de763a;
  --colorpaletteorangeorange600: #e68246;
  --colorpaletteorangeorange500: #ee8e53;
  --colorpaletteorangeorange400: #f2a069;
  /* This is our main color. And this description will show inside the documentation */
  --colorpaletteorangeorange300: #f4b388;
  --colorpaletteorangeorange200: #f6c7a9;
  --colorpaletteorangeorange100: #f7ddce;
  --colorpaletteorangeorange0: #fceee4;
  --colorpaletteyellowyellow1100: #2a1b08;
  --colorpaletteyellowyellow1000: #4e2c0b;
  --colorpaletteyellowyellow900: #8b4f1f;
  --colorpaletteyellowyellow800: #b0772a;
  --colorpaletteyellowyellow700: #d49b35;
  --colorpaletteyellowyellow600: #f6be41;
  --colorpaletteyellowyellow500: #f8ce4c;
  --colorpaletteyellowyellow400: #fad961;
  --colorpaletteyellowyellow300: #fbe17f;
  --colorpaletteyellowyellow200: #fbe9a4;
  --colorpaletteyellowyellow100: #fbeed1;
  --colorpaletteyellowyellow0: #fef8e4;
  --colorpalettemagentamagenta1100: #271a2c;
  --colorpalettemagentamagenta1000: #3f1a4e;
  --colorpalettemagentamagenta900: #642a73;
  --colorpalettemagentamagenta800: #854091;
  --colorpalettemagentamagenta700: #a04da3;
  --colorpalettemagentamagenta600: #b659b4;
  --colorpalettemagentamagenta500: #cc6bd5;
  --colorpalettemagentamagenta400: #e38aef;
  --colorpalettemagentamagenta300: #e3b1ee;
  --colorpalettemagentamagenta200: #ecc7f4;
  --colorpalettemagentamagenta100: #f5e4fa;
  --colorpalettemagentamagenta0: #fcf0fe;
  --colorsemanticprimaryprimaryactivebackground: #453e96;
  --colorsemanticprimaryprimaryhoverbackground: #5a52b4;
  --colorsemanticprimaryprimaryhovercolor: #ffffff;
  --colorsemanticprimaryprimarybackground: #6b62cc;
  --colorsemanticprimaryprimarycolor: #ffffff;
  --colorsemantictexttextinverse: #ffffff;
  --colorsemantictexttextsubtext: #545e5f;
  --colorsemantictexttextheadline: #293333;
  --colorsemantictexttextbody: #384141;
  --colorsemanticerrorerrorcolor: #b6403b;
  --colorsemanticerrorerroricon: #b6403b;
  --colorsemanticerrorerrorborder: #ef8674;
  --colorsemanticerrorerrorbackground: #f8d7d3;
  --colorsemanticwarningwarningcolor: #8b4f1f;
  --colorsemanticwarningwarningicon: #ba7506;
  --colorsemanticwarningwarningborder: #fad961;
  --colorsemanticwarningwarningbackground: #fbeed1;
  --colorsemanticsuccesssuccesscolor: #2d6944;
  --colorsemanticsuccesssuccessicon: #3c884d;
  --colorsemanticsuccesssuccessborder: #8fda75;
  --colorsemanticsuccesssuccessbackground: #ddf3d9;
  --colorsemanticinfoinfocolor: #3a79bd;
  --colorsemanticinfoinfoicon: #306ca5;
  --colorsemanticinfoinfoborder: #6aacef;
  --colorsemanticinfoinfobackground: #e0f1fe;
  --colorsemanticopportunityopportunitycolor: #357a7b;
  --colorsemanticopportunityopportunityicon: #357a7b;
  --colorsemanticopportunityopportunityborder: #6addc6;
  --colorsemanticopportunityopportunitybackground: #d5f6ef;
  --colorsemanticprimaryprimaryinnactivebackground: #d8d8f6;
  --colorsemanticprimaryprimaryborder: #6b62cc;
  --colorsemanticprimaryhoverinnactivebackground: #c0c2f3;
  --colorsemanticsalesale70background: #ac7d13;
  --colorsemanticsalesale50background: #b51d4e;
  --colorsemanticsalesale30background: #5869c1;
  --colorsemanticsalesalecolor: #b7b7b7;
  --colordarkblue: #ff0000;
  --colorforegroundneutral: var(--colorwhite);
  --colorforegroundprimary: var(--colorprimaryprimary500);
  --colorforegroundcritical: var(--colorredred600);
  --colorforegroundwarning: var(--colororangeorange600);
  --colorforegroundpositive: var(--colorgreengreen600);
  --colorforegroundupgrade: var(--colorpurplepurple600);
  --colorforegrounddisabled: #c7cddb;
  --colorbackgroundelevationbase: var(--colorneutralneutral900);
  --colorbackgroundelevationraised: var(--colorneutralneutral900);
  --colorbackgroundelevationoverlay: var(--colorneutralneutral900);
  --colorbackgroundneutral: #d0e2ff0f;
  --colorbackgroundneutralfaded: #d0e2ff0a;
  --colorbackgroundpage: #040a1e;
  --colorbackgroundprimary: var(--colorprimaryprimary800);
  --colorbackgroundprimaryhighlighted: var(--colorprimaryprimary700);
  --colorbackgroundprimaryfaded: #004ee1;
  --colorbackgroundcriticalhighlighted: var(--colorredred600);
  --colorbackgroundcriticalfaded: var(--colorredred100);
  --colorbackgroundwarning: var(--colororangeorange500);
  --colorbackgroundwarninghighlighted: var(--colororangeorange600);
  --colorbackgroundwarningfaded: var(--colororangeorange100);
  --colorbackgroundpositivehighlighted: var(--colorgreengreen600);
  --colorbackgroundpositivefaded: var(--colorgreengreen100);
  --colorbackgroundupgrade: var(--colorpurplepurple600);
  --colorbackgroundupgradehighlighted: var(--colorpurplepurple700);
  --colorbackgroundupgradefaded: #f5f2fd;
  --colorbackgrounddisabled: #d0e2ff12;
  --colorbackgrounddisabledfaded: var(--colorneutralneutral100opaque);
  --colorbackgroundfocushighlight: var(--colorprimaryprimary400);
  --colorborderneutral: var(--colorneutralneutral500);
  --colorborderprimary: var(--colorprimaryprimary700);
  --colorborderprimaryfaded: var(--colorprimaryprimary400);
  --colorbordercritical: var(--colorredred600);
  --colorborderwarning: var(--colororangeorange600);
  --colorborderwarningfaded: var(--colororangeorange200);
  --colorborderpositive: var(--colorgreengreen600);
  --colorborderupgrade: var(--colorpurplepurple700);
  --colorborderfocusfaded: var(--colorprimaryprimary400);
  --coloronbackgroundneutral: var(--colorwhite);
  --colorpersistentblack: var(--colorneutralneutral900);
  --colordecorativeblueforeground: var(--colorprimaryprimary600);
  --colordecorativebluebackground: var(--colorprimaryprimary200);
  --colordecorativeblueborder: var(--colorprimaryprimary400);
  --colordecorativegreenforeground: var(--colorgreengreen600);
  --colordecorativegreenbackground: var(--colorgreengreen100);
  --coloronbackgroundprimary: var(--colorwhite);
  --coloronbackgroundcritical: var(--colorwhite);
  --coloronbackgroundwarning: var(--colorwhite);
  --coloronbackgroundpositive: var(--colorwhite);
  --coloronbackgroundupgrade: var(--colorwhite);
  --colorpersistentwhite: var(--colorwhite);
  --colordecorativepurpleforeground: var(--colorpurplepurple600);
  --colordecorativepurplebackground: var(--colorpurplepurple100);
  --colordecorativeredforeground: var(--colorredred600);
  --colordecorativeredbackground: var(--colorredred100);
}