/**
 * This file was generated automatically by Supernova.io and should not be changed manually.
 * To modify the format or content of this file, please contact your design system team. 
 */

.theme-dark-d38a {
  --Color-Foreground-Neutral-Faded: #9da8bb;
  --Color-Foreground-Placeholder: #7f8694;
  --Color-Background-Neutral-Highlighted: #d0e2ff14;
  --Color-Background-Page-Faded: #09122a;
  --Color-Background-Critical: #e22c2c;
  --Color-Background-Positive: #118850;
  --Color-Background-Blur: #fffffff2;
  --Color-Background-Blur-Neutral: #f4f5f7f2;
  --Color-Background-Blur-Neutral-Highlighted: #ecedf0f2;
  --Color-Border-Neutral-Faded: #22273a;
  --Color-Border-Critical-Faded: #fbd5d8;
  --Color-Border-Positive-Faded: #cdedd5;
  --Color-Border-Upgrade-Faded: #e3dbfa;
  --Color-Border-Disabled: #dfe2ea;
  --Color-Border-Focus: #4589ff;
  --Color-Decorative-Cyan-Foreground: #0e7490;
  --Color-Decorative-Cyan-Background: #d5fbfe;
  --Color-Decorative-Cyan-Border: #b6e9ec;
  --Color-Decorative-Fuchsia-Foreground: #b725cb;
  --Color-Decorative-Fuchsia-Background: #fcf0ff;
  --Color-Decorative-Fuchsia-Border: #f3d6f9;
  --Color-Decorative-Green-Border: #c9e6da;
  --Color-Decorative-Grey-Foreground: #4e536a;
  --Color-Decorative-Grey-Background: #edeff3;
  --Color-Decorative-Grey-Border: #e1e4eb;
  --Color-Decorative-Light-Grey-Foreground: #68718d;
  --Color-Decorative-Light-Grey-Background: #f6f7f9;
  --Color-Decorative-Light-Grey-Border: #e3e4e9;
  --Color-Decorative-Orange-Foreground: #c2410c;
  --Color-Decorative-Orange-Background: #fff2e1;
  --Color-Decorative-Orange-Border: #f9dbaf;
  --Color-Decorative-Pink-Foreground: #d12372;
  --Color-Decorative-Pink-Background: #fdf0f7;
  --Color-Decorative-Pink-Border: #fad6ea;
  --Color-Decorative-Purple-Border: #e4dbfa;
  --Color-Decorative-Red-Border: #fcd7da;
  --Color-Decorative-Teal-Foreground: #107a71;
  --Color-Decorative-Teal-Background: #e2fff8;
  --Color-Decorative-Teal-Border: #cae5df;
  --Color-Decorative-Yellow-Foreground: #a16207;
  --Color-Decorative-Yellow-Background: #fffde7;
  --Color-Decorative-Yellow-Border: #efe991;
  --Color-Primary-Primary-200: #edf5ff;
  --Color-Primary-Primary-400: #d0e2ff;
  --Color-Primary-Primary-500: #8cb4ff;
  --Color-Primary-Primary-600: #0f62fe;
  --Color-Primary-Primary-700: #004ee1;
  --Color-Primary-Primary-800: #104fc6;
  --Color-Red-Red-100: #fef1f2;
  --Color-Red-Red-600: #cb101d;
  --Color-White: #ffffff;
  --Color-Neutral-Neutral-100-Opaque: #141a2b05;
  --Color-Neutral-Neutral-200-Opaque: #182d660a;
  --Color-Neutral-Neutral-400: #606981;
  --Color-Neutral-Neutral-500: #c7cddb;
  --Color-Neutral-Neutral-900: #14171f;
  --Color-Green-Green-100: #ebfef6;
  --Color-Green-Green-600: #05751f;
  --Color-Purple-Purple-100: #f5f2fd;
  --Color-Purple-Purple-600: #874ce6;
  --Color-Purple-Purple-700: #6a2bbf;
  --Color-Orange-Orange-100: #fef8eb;
  --Color-Orange-Orange-200: #fbe5c5;
  --Color-Orange-Orange-500: #cc4d00;
  --Color-Orange-Orange-600: #b53c0a;
  --Color-Foreground-Neutral: var(--Color-White);
  --Color-Foreground-Primary: var(--Color-Primary-Primary-500);
  --Color-Foreground-Critical: var(--Color-Red-Red-600);
  --Color-Foreground-Warning: var(--Color-Orange-Orange-600);
  --Color-Foreground-Positive: var(--Color-Green-Green-600);
  --Color-Foreground-Upgrade: var(--Color-Purple-Purple-600);
  --Color-Foreground-Disabled: #c7cddb;
  --Color-Background-Elevation-Base: var(--Color-Neutral-Neutral-900);
  --Color-Background-Elevation-Raised: var(--Color-Neutral-Neutral-900);
  --Color-Background-Elevation-Overlay: var(--Color-Neutral-Neutral-900);
  --Color-Background-Neutral: #d0e2ff0f;
  --Color-Background-Neutral-Faded: #d0e2ff0a;
  --Color-Background-Page: #040a1e;
  --Color-Background-Primary: var(--Color-Primary-Primary-800);
  --Color-Background-Primary-Highlighted: var(--Color-Primary-Primary-700);
  --Color-Background-Primary-Faded: #004ee1;
  --Color-Background-Critical-Highlighted: var(--Color-Red-Red-600);
  --Color-Background-Critical-Faded: var(--Color-Red-Red-100);
  --Color-Background-Warning: var(--Color-Orange-Orange-500);
  --Color-Background-Warning-Highlighted: var(--Color-Orange-Orange-600);
  --Color-Background-Warning-Faded: var(--Color-Orange-Orange-100);
  --Color-Background-Positive-Highlighted: var(--Color-Green-Green-600);
  --Color-Background-Positive-Faded: var(--Color-Green-Green-100);
  --Color-Background-Upgrade: var(--Color-Purple-Purple-600);
  --Color-Background-Upgrade-Highlighted: var(--Color-Purple-Purple-700);
  --Color-Background-Upgrade-Faded: #f5f2fd;
  --Color-Background-Disabled: #d0e2ff12;
  --Color-Background-Disabled-Faded: var(--Color-Neutral-Neutral-100-Opaque);
  --Color-Background-Focus-Highlight: var(--Color-Primary-Primary-400);
  --Color-Border-Neutral: var(--Color-Neutral-Neutral-500);
  --Color-Border-Primary: var(--Color-Primary-Primary-700);
  --Color-Border-Primary-Faded: var(--Color-Primary-Primary-400);
  --Color-Border-Critical: var(--Color-Red-Red-600);
  --Color-Border-Warning: var(--Color-Orange-Orange-600);
  --Color-Border-Warning-Faded: var(--Color-Orange-Orange-200);
  --Color-Border-Positive: var(--Color-Green-Green-600);
  --Color-Border-Upgrade: var(--Color-Purple-Purple-700);
  --Color-Border-Focus-Faded: var(--Color-Primary-Primary-400);
  --Color-On-Background-Neutral: var(--Color-White);
  --Color-Persistent-Black: var(--Color-Neutral-Neutral-900);
  --Color-Decorative-Blue-Foreground: var(--Color-Primary-Primary-600);
  --Color-Decorative-Blue-Background: var(--Color-Primary-Primary-200);
  --Color-Decorative-Blue-Border: var(--Color-Primary-Primary-400);
  --Color-Decorative-Green-Foreground: var(--Color-Green-Green-600);
  --Color-Decorative-Green-Background: var(--Color-Green-Green-100);
  --Color-On-Background-Primary: var(--Color-White);
  --Color-On-Background-Critical: var(--Color-White);
  --Color-On-Background-Warning: var(--Color-White);
  --Color-On-Background-Positive: var(--Color-White);
  --Color-On-Background-Upgrade: var(--Color-White);
  --Color-Persistent-White: var(--Color-White);
  --Color-Decorative-Purple-Foreground: var(--Color-Purple-Purple-600);
  --Color-Decorative-Purple-Background: var(--Color-Purple-Purple-100);
  --Color-Decorative-Red-Foreground: var(--Color-Red-Red-600);
  --Color-Decorative-Red-Background: var(--Color-Red-Red-100);
}