/**
 * This file was generated automatically by Supernova.io and should not be changed manually.
 * To modify the format or content of this file, please contact your design system team. 
 */

:root {
  /* No radius */
  --borderradiusborderradiusnone: 0px;
  --borderradiusborderradiussmall: 3px;
  --borderradiusborderradiusdefault: 5px;
  --borderradiusborderradiusmedium: 7px;
  --borderradiusborderradiuslarge: 12px;
  /* Essentially a circle */
  --borderradiusborderradiusfull: 999px;
}