/**
 * This file was generated automatically by Supernova.io and should not be changed manually.
 * To modify the format or content of this file, please contact your design system team. 
 */

:root {
  --Dimension-Spacing-Semantic-Stack-Gap: 1px;
  --Dimension-Shadow-Focus-Ring-Width: 3px;
  --Dimension-Font-Weight-Bold: 640px;
}