/**
 * This file was generated automatically by Supernova.io and should not be changed manually.
 * To modify the format or content of this file, please contact your design system team. 
 */

:root {
  --Space-Spacing-0: 0px;
  --Space-Spacing-2: 2px;
  --Space-Spacing-4: 4px;
  --Space-Spacing-8: 8px;
  --Space-Spacing-12: 12px;
  --Space-Spacing-16: 16px;
  --Space-Spacing-20: 20px;
  --Space-Spacing-24: 24px;
  --Space-Spacing-28: 28px;
  --Space-Spacing-32: 32px;
  --Space-Spacing-36: 36px;
  --Space-Spacing-40: 40px;
}