/**
 * This file was generated automatically by Supernova.io and should not be changed manually.
 * To modify the format or content of this file, please contact your design system team. 
 */

:root {
  --Typography-H1: 700 57px/64px "Advent Pro";
  --Typography-H2: 700 43px/50px "Advent Pro";
  --Typography-H3: 700 32px/40px "Advent Pro";
  --Typography-H4: 700 24px/32px "Advent Pro";
  --Typography-H5: 700 21px/29px "Advent Pro";
  --Typography-Large-Lead: 400 24px/32px "Advent Pro";
  --Typography-Medium-Lead: 400 21px/29px "Advent Pro";
  --Typography-Button-Label: 400 21px/29px "Advent Pro";
  --Typography-Paragraph: 400 18px/26px "Advent Pro";
  --Typography-Small-Paragraph: 400 16px/24px "Advent Pro";
  --Typography-Tiny-Paragraph: 400 12px/24px "Advent Pro";
  --Typography-Sale: 700 24px/32px "Advent Pro";
  /* typewriter font test */
  --Typography-Impact-Label: 400 13px "Impact Label";
  /* importing test */
  --Typography-Poppins: 400 13px "Poppins";
}